.fa-bars, .fa-search {
    font-size: 32px;
}

.main-card {
    width: 800px;
    height: 500px;
    padding: 0 20px 0 20px;
    overflow-y: scroll;
}

.card {
    margin: 20px 5px 20px 5px;
}

.content {
    /* border: 1px solid green; */
    padding: 10px;
}

.news-image {
    height: 50%;
    width: 100%;
}
/* 
.overflow {
    height: 150px;
    text-align: justify;
    text-justify: inter-word;
    overflow: hidden;
} */

.news-title {
    height: 100px;
    /* text-align: justify;
    text-justify: inter-word; */
}

p, h6 {
    margin-bottom: 0rem;
}

.top {
    margin: 20px 10px 0 10px;
}

.no-pad {
    padding-left: 0px;
    padding-right: 0px;
    /* border: 1px solid red; */
}
