<div class="main-containers">
  <div class="custom-containers">
    <div class="jeep-container">
    <div class="mirror-container">
      <div class="mirror">
        <div class="inner-mirror">
          <div class="bottom-inner-mirror"></div>
          <div class="seat">
            <div class="seat-left">
              <!-- <div class="steering"></div> -->
            </div>
            <div class="seat-divider"></div>
            <div class="seat-right"></div>
          </div>
          <div class="wiper">
            <div class="wiper-left"></div>
            <div class="wiper-divider"></div>
            <div class="wiper-right"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="bonet-container">
      <div class="bonet">
        <div class="up-bonet"></div>
        <div class="side-mirror"></div>
      </div>
    </div>
    <div class="lamp-container">
      <div class="left-lamp"></div>
      <div class="radiator"></div>
      <div class="right-lamp"></div>
    </div>
    <div class="bumper-container">
      <div class="rect-left-lamp"></div>
      <div class="plate">
        <div class="plate-num"></div>
      </div>
      <div class="rect-right-lamp"></div>
    </div>
    <div class="tyre-container">
      <div class="left-tyre"></div>
      <div class="right-tyre"></div>
    </div>
    </div>
  </div>
</div>