 <div class="container">
  <div class="screen-container">
    <div id="home-page">
      <div class="top-head-container">
        <div class="camera"><i class="fa fa-camera" aria-hidden="true"></i></div>
        <div class="title">Instagram</div>
        <div class="message"><i class="fa fa-paper-plane"></i></div>
      </div>
      <div class="bottom-foot-container">
        <div class="home active"><i class="fa fa-home"></i></div>
        <div class="search"><i class="fa fa-search"></i></div>
        <div class="upload"><i class="fa fa-plus-square"></i></div>
        <div class="notification"><i class="fa fa-heart"></i></div>
        <div class="profile"><i class="fa fa-user-circle"></i></div>
      </div>    
      <div class="main-content">
        <div class="top-stories-detail">
          <div class="title-left">Stories</div>
          <div class="title-right"><i class="fa fa-play" aria-hidden="true"></i> Watch All</div>
        </div>
        <div class="scroll-top-stories">
          <div class="top-stories-container">
            <div class="top-stories">
              <div class="user"><div class="user-dp"></div><div class="user-name">You</div></div>
              <div class="friends"><div class="friend-dp"></div><div class="friend-name">Senah</div></div>
              <div class="friends"><div class="friend-dp"></div><div class="friend-name">Jemah</div></div>
              <div class="friends"><div class="friend-dp"></div><div class="friend-name">Ramli</div></div>
              <div class="friends"><div class="friend-dp"></div><div class="friend-name">Dolah</div></div>
              <div class="friends"><div class="friend-dp"></div><div class="friend-name">Agnes</div></div>
              <div class="friends"><div class="friend-dp"></div><div class="friend-name">Kinah</div></div>
              <div class="friends"><div class="friend-dp"></div><div class="friend-name">Milah</div></div>
              <div class="friends"><div class="friend-dp"></div><div class="friend-name">Sarip</div></div>
              <div class="friends"><div class="friend-dp"></div><div class="friend-name">Mikey</div></div>
              <div class="friends"><div class="friend-dp"></div><div class="friend-name">Joyah</div></div>
            </div>
          </div>   
        </div>
        <div class="post">
          <div class="post-content">
            <div class="name-and-option">
              <div class="post-dp"></div>
              <div class="post-username">
                Pak Jabit
              </div>
              <div class="post-option"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></div>
            </div>
            <div class="post-image">
              <img src="http://1.bp.blogspot.com/-l_8aN6L39pU/TnPcQ9Zyx7I/AAAAAAAAAoE/PhwnzkIv5KI/s1600/1960+Chevy+Impala+Old+Chevrolet+-+PremiumWallpapersHD.Blogspot.Com.jpg" alt="car">
            </div>
            <div class="post-image-option">
              <div class="like"><i class="fa fa-heart"></i></div>
              <div class="comment"><i class="fa fa-comment"></i></div>
              <div class="message-2"><i class="fa fa-paper-plane"></i></div>
              <div class="bookmark"><i class="fa fa-bookmark"></i></div>
            </div>
            <div class="post-detail">
              <div class="liked"><span class="detail-bold">Liked by Senah, Jemah, Eton</span> and <span class="detail-bold">355 others</span></div>
              <div class="caption"> <span class="detail-bold">Pak Jabit</span> My new car #keretaraya </div>
              <div class="friend-comments">View All 8 Comments</div>
              <div class="duration">50 MINUTES AGO</div>            
            </div>
          </div>
          <div class="post-content">
            <div class="name-and-option">
              <div class="post-dp"></div>
              <div class="post-username">
                Mak Jemah
              </div>
              <div class="post-option"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></div>
            </div>
            <div class="post-image">
              <img src="https://images.freeimages.com/images/large-previews/751/coupons-1619720.jpg" alt="ticket">
            </div>
            <div class="post-image-option">
              <div class="like"><i class="fa fa-heart"></i></div>
              <div class="comment"><i class="fa fa-comment"></i></div>
              <div class="message-2"><i class="fa fa-paper-plane"></i></div>
              <div class="bookmark"><i class="fa fa-bookmark"></i></div>
            </div>
            <div class="post-detail">
              <div class="liked"><span class="detail-bold">Liked by Pak Maon, Pak Mat</span> and <span class="detail-bold">2499 others</span></div>
              <div class="caption"> <span class="detail-bold">Mak Jemah</span> Discount 50% Tiket Flight Air Asia. Comment "Saya nak !" #airasia #tiketfree</div>
              <div class="friend-comments">View All 10 Comments</div>
              <div class="duration">1 HOURS AGO</div>
            </div>          
          </div>      
        </div>
      </div>
    </div>
    <div id="search-page">
      
    </div>
  </div>
</div>