<!-- Main Container -->
<div class="main-container">
<!-- Custom Container -->
<div class="container-fluid d-flex justify-content-center align-items-center custom-container">
  <div class="d-flex card card-custom">
    <div class="card-body">
      <!-- Sign Up Title -->
      <h3 class="card-body-title text-center">Sign Up</h3>
      <!-- End of Sign Up Title -->
      <!-- Sign Up Details Input -->
      <div class="form-group">
        <label for="username" class="input-label">USERNAME</label>
        <input type="text" class="form-control" id="username">
      </div>
      <div class="form-group">
        <label for="usermail" class="input-label">EMAIL</label>
        <input type="email" class="form-control" id="usermail">
      </div>
      <div class="form-group">
        <label for="userpassword" class="input-label">PASSWORD</label>
        <input type="password" class="form-control" id="userpassword">
      </div>
      <!-- End of Sign Up Input -->
      <!-- Sign Up Submit and Social Media -->
      <div class="d-flex flex-column bottom-container">
        <div class="sign-up-btn-container text-center">
          <button type="submit" class="btn btn-primary">SIGN UP</button>
        </div>
        <div class="social-media-desc text-center">
          <label for="social-media-items"> or try with </label>
        </div>
        <div class="d-flex justify-content-center">
          <div class="d-flex flex-row social-media-items">
            <div class="p-2"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></div>
            <div class="p-2"><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></div>
            <div class="p-2"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
      <!-- Sign Up Submit and Social Media -->
    </div>
  </div>
</div>
<!-- End of Custom Container -->
</div>
<!-- End of Main Container -->

