// COLOR SCHEME
$white: #ffffff;
$light-grey: #A4A7B0;
$dark-grey: #333333;
$dark-grey-transparent: #0000005d;
$light-green: #73e886;
$dark-green: #3cc655 ;



/* Paragraph */
p {
    margin-bottom: 0rem;
}

label {
    margin-bottom: 0rem;
}

/* Custom Card */
.card {
    height: 650px;
    width: 390px;
    border-radius: 12px;
    border: none;
    background-color: $white;
    color: $dark-grey;
}

.card-body {
    padding: 2rem;
}

.top {
    margin-top: 1rem;
    p {
        font-size: 18px;
    }
}

i {
    cursor: pointer;
}

.fa-arrow-left, .fa-cog {
    font-size: 24px;
}

.setting-content {
    
    .usb-tether, .wifi-hotspot {
        border-bottom: 1px solid $light-grey ;
    }

    .usb-tether, .wifi-hotspot, .bt-tether {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

}

.sub-content {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Toggle */
.switch-container {
    position: absolute;
    top: 30%;
}

.switch-container {
    height: 100%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 10px;

    input {
        display: none;
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $light-grey;
    -webkit-transition: .4s;
    transition: .4s;

    &::before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        bottom: -5px;
        background-color: $dark-grey;
        -webkit-transition: .4s;
        transition: .4s;
    }
}

.slider.round {
    border-radius: 5px;
    &::before {
        border-radius: 50%;
    }
}

input {
    &:checked + .slider {
        background-color: $light-green;
    }
    &:focus + .slider {
        box-shadow: 0 0 1px $light-green;
    }
    &:checked + .slider:before {
        background-color: $dark-green;
        -webkit-transform: translateX(15px);
        -ms-transform: translateX(15px);
        transform: translateX(15px)
    }   
}
// Wi-Fi Hotspot Popup
.pop-up-container {
    display: none;
    position: absolute;
    background-color: $dark-grey-transparent;
    .pop-up {
        top: 15%;
        padding: 1.5rem;
        margin-left: 15px;
        width: 360px;
        height: 465px;
    }

    .form-check-label {
        color: $light-grey;
    }

    .btn, .btn-light {
        font-size: 14px;
    }
      
    .btn-light {
        border: #ffffff;
    }
    
    .btn-light, .btn-light:hover {
        font-weight: bolder;
        background-color: #ffffff;
        color: #333333;
    }
    .ctrl-popup {
        margin-top: 24px;
    }
}

/* Custom Checkbox */
.checkbox-container {
    display: block;
    position: relative;
    margin-top: 8px;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;

        &:checked ~ .checkmark:after {
            display: block;
        }
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        border: 1px solid #ced4da;
        border-radius: 3px;
        color: #212529;

        &::after {
            position: absolute;
            content: "";
            display: none;
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid #212529;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}