/* Notes
(-) First layer
(--) Second Layer */

/* Override style.css */
/* - Background Color - */
.main-container {
    background: linear-gradient(to bottom right, #0B9E9D, #6B5099);
}

/* Reset */
/* - Resetting Default Bootstrap CSS */
/* -- Table -- */
.table {
    margin-bottom: 0rem;
}
.table thead th {
    border-bottom: none;
}
.table th, .table td {
    border-top: none;
}
.table td {
    padding: 0rem;
    height: 50px;
    width: 50px;
}

/* Override */
/* - Override Bootsrap CSS - */
/* -- Card -- */
.card-custom {
    background-color: #1B212D;
    color: white;
}

/* Kufi Styling */
.fill, .unfill {
    height: inherit;
    width: inherit;
}
.fill {
    background-color: #303030;
}
.unfill {
    background-color: #fff;
}
