<div class="main-container">
<!-- Main Container -->
<div class="d-flex flex-row justify-content-center align-items-center custom-container">
  <!-- Left Container -->
  <!-- Main Card Container -->
  <div class="d-flex flex-column card custom-card-left">
    <div class="card-body">
      <form>
        <!-- Content Inside card -->
        <h3 class="card-body-title">PAYMENT CHECKOUT</h3>
        <!-- Input Container -->
        <div class="form-row">
          <div class="form-group col md-10">
            <label for="ccno" class="input-label-left">CREDIT CARD NUMBER</label>
            <input type="text" class="form-control" id="ccno">
          </div>
          <div class="form-group col md-2">
            <label for="cvcno" class="input-label-left">CVC</label>
            <input type="text" class="form-control" id="cvcno">
          </div>
        </div>
        <div class="form-group">
          <label for="cardname" class="input-label-left">CARDHOLDER'S NAME</label>
          <input type="email" class="form-control" id="cardname">
        </div>
        <div class="form-row">
          <div class="form-group col md-6">
            <label class="input-label-left">EXPIRATION DATE</label>
            <div class="form-row">
              <div class="col md-3">
                <input type="number" class="form-control" id="expdatemonth">
              </div>
              <div class="col md-3">
                <input type="number" class="form-control" id="expdateyear">
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col payment-btn-container">
            <button type="submit" class="btn btn-primary">MAKE A PAYMENT</button>
          </div>
        </div>
        <!-- End of Input Container -->
        <!-- End of Content Inside card -->
      </form>
    </div>
  </div>
  <!-- End of Main Card Container -->
  <!-- End of Left Container -->
  <!-- Right Container -->
  <!-- Main Card Container -->
  <div class="d-flex flex-column card custom-card-right">
    <div class="card-body">
      <form>
        <!-- Input Container -->
        <div class="form-row">
          <div class="form-group col md-10">
            <label for="username" class="input-label-right">PAYMENT SUMMARY</label>
            <div class="inner-card-right">
              <table class="table-sm">
                <thead>
                  <tr>
                    <th scope="col" class="text-left">ITEMS</th>
                    <th scope="col" class="text-right">PRICE(MYR)</th>
                  </tr>
                </thead>
                <tbody class="light-font" *ngFor="let grocery of groceries">
                  <tr>
                    <td scope="row" class="text-left">{{grocery.item}}</td>
                    <td class="text-right">{{grocery.price}}</td>
                  </tr>
                </tbody>
                <thead class="total-table">
                  <tr>
                    <th scope="col" class="text-left">TOTAL</th>
                    <th scope="col" class="text-right"></th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
        <!-- End of Content Inside card -->
      </form>
    </div>
  </div>
  <!-- End of Main Card Container -->
  <!-- End of Right Container -->
</div>
<!-- End of Main Container -->
</div>