/* Main Container */
.main-container {
  background-color: rgb(139, 141, 141);
}

.custom-container {
  background-color: #499069;
}

/* Table in custom card right */
.light-font {
  font-family: 'Nunito-Light';
}

.total-table {
  border-top: 1px solid #fff;
}

.table-sm {
  width: 100%;
}

/* Paragraph */
p {
  margin-bottom: 0rem;
}

/* PAYMENT Button and button customization */
.payment-btn-container {
  margin-top: 32px;
}

.btn-primary {
  background-color: #499069;
  border: 3px solid #499069;
  padding-left: 60px;
  padding-right: 60px;
  width: 100%;
}

/* Custom Card */
.custom-card-left,
.custom-card-right {
  border-radius: 0rem;
  border: none;
  padding: 70px 20px 70px 20px;
}

.custom-card-right {
  background-color: #499069;
  padding-top: 82px;
  padding-bottom: 82px;
}

.card-body {
  width: 500px;
}

.card-body-title {
  font-family: 'Nunito-Black';
  color: #499069;
  margin-bottom: 70px;
}

.inner-card-right {
  background-color: #28774D;
  color: #fff;
  border-radius: 5px;
  padding: 16px;
}

/* Custom Input */
input,
input:focus {
  border: 1px solid #9AA0A1;
  background-color: #fff;
  color: #9AA0A1;
  font-family: 'Nunito-Light';
}

.input-label-right {
  color: #fff;
}

.input-label-left {
  color: #96BCA9;
}