<div class="main-container">
    <div class="card-container">
      <div class="main-card">
          <div class="top">
            <div class="package-offered">FREE</div>
            <div class="package-description">Plan for everyone</div>
          </div>
          <div class="middle">
            <div class="currency">$</div>
            <div class="price">0</div>
          </div>
          <div class="bottom">
            <div class="basic-feature">
              <p>Unlimited Servers</p>
            </div>
          </div>
      </div>
      <div class="card-collapse-card">      
        <div class="card-features">
          <p class="title">Includes:</p>
          <div class="features-list">
            <div><i class="fa fa-check" aria-hidden="true"></i></div>
            <div class="details">Deploy Unlimited Web Application or Websites</div>
          </div>
          <div class="features-list">
            <div><i class="fa fa-check" aria-hidden="true"></i></div>
            <div class="details">Add Unlimited Domain Names</div>
          </div>
          <div class="features-list">
            <div><i class="fa fa-check" aria-hidden="true"></i></div>
            <div class="details">Choose from Multiple PHP Version</div>
          </div>
          <div class="features-list">
            <div><i class="fa fa-check" aria-hidden="true"></i></div>
            <div class="details">Simple and Unlimited Database Creation</div>
          </div>
         <div class="features-list">
            <div><i class="fa fa-check" aria-hidden="true"></i></div>
            <div class="details">Server Update Configuration</div>
          </div>
         <div class="features-list">
            <div><i class="fa fa-check" aria-hidden="true"></i></div>
            <div class="details">Script Installer (WordPress, Joomla, etc)</div>
          </div>              
        </div>
        <div class="indicator collapse">
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </div>  
      </div> 
    </div>
  </div>