#sidebar-fixed {
    position: fixed;
    background-color: #fff;    
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 270px;
    overflow-x: hidden;
    padding-top: 56px;
    font-family: 'Nunito-Regular';
}

/* celcom */
a:hover {
    text-decoration: unset;
}

li>a {
    color: gray;
}

li>a:hover {
    color: #555;
    /*darkgray*/
}

li>a.active {
    color: #222;
}

li {
    list-style-type: none;
}

/* .nav-link {
  padding-top: 25px;
  padding-bottom: 25px;
} */

.main-subtitle {
    color: #333333;
}

.nav-pills .nav-link {
    color: rgb(175, 175, 175);
    border-radius: 0rem;
}

.nav-pills .nav-link.active {
    color: gray;
    background-color: #fff;
    border-left: 2px solid #ea4c89;
    font-weight: bold;
}

.divider {
    width: inherit;
    height: 56px;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 2px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
  }
  /* optional: show position indicator in red */
  ::-webkit-scrollbar-thumb {
    background: gray;
  }
  /* END OF SCROLLBAR */
