<nav id="sidebar-fixed">

  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <span>
        <a class="nav-link form-title flex">
          <div class="main-subtitle superbold-font">Dribbble Project</div>
        </a>
      </span>
    </li>
    <!-- SIGN UP -->
    <li class="nav-item">
      <span>
        <a class="nav-link form-title flex" routerLink="/signup" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <div class="subtitle">Signup</div>
        </a>
      </span>
    </li>
    <!-- PAYMENT -->
    <li class="nav-item">
      <span>
        <a class="nav-link form-title flex" routerLink="/payment" routerLinkActive="active">
          <div class="subtitle">Payment</div>
        </a>
      </span>
    </li>
    <!-- LANDING PAGE -->
    <li class="nav-item">
      <span>
        <a class="nav-link form-title flex" routerLink="/landing-page" routerLinkActive="active">
          <div class="subtitle">Landing Page</div>
        </a>
      </span>
    </li>
    <!-- CALCULATOR -->
    <li class="nav-item">
      <span>
        <a class="nav-link form-title flex" routerLink="/calculator" routerLinkActive="active">
          <div class="subtitle">Calculator</div>
        </a>
      </span>
    </li>
    <!-- APP ICON -->
    <li class="nav-item">
      <span>
        <a class="nav-link form-title flex" routerLink="/app-icon" routerLinkActive="active">
          <div class="subtitle">App Icon</div>
        </a>
      </span>
    </li>
    <!-- USER PROFILE -->
    <li class="nav-item">
      <span>
        <a class="nav-link form-title flex" routerLink="/user-profile" routerLinkActive="active">
          <div class="subtitle">User Profile</div>
        </a>
      </span>
    </li>
    <!-- SETTING -->
    <li class="nav-item">
      <span>
        <a class="nav-link form-title flex" routerLink="/setting" routerLinkActive="active">
          <div class="subtitle">Setting</div>
        </a>
      </span>
    </li>
    <!-- ERROR PAGE -->
    <li class="nav-item">
      <span>
        <a class="nav-link form-title flex" routerLink="/error-page" routerLinkActive="active">
          <div class="subtitle">Error Page</div>
        </a>
      </span>
    </li>
    <!-- MUSIC PLAYER -->
    <li class="nav-item">
      <span>
        <a class="nav-link form-title flex" routerLink="/music-player" routerLinkActive="active">
          <div class="subtitle">Music Player</div>
        </a>
      </span>
    </li>
    <!-- SOCIAL SHARE -->
    <li class="nav-item">
      <span>
        <a class="nav-link form-title flex" routerLink="/social-share" routerLinkActive="active">
          <div class="subtitle">Social Share</div>
        </a>
      </span>
    </li>
    <!-- FLASH MESSAGE -->
    <li class="nav-item">
      <span>
        <a class="nav-link form-title flex" routerLink="/flash-message" routerLinkActive="active">
          <div class="subtitle">Flash Message</div>
        </a>
      </span>
    </li>
    <!-- SHOP -->
    <li class="nav-item">
      <span>
        <a class="nav-link form-title flex" routerLink="/shop" routerLinkActive="active">
          <div class="subtitle">Shop</div>
        </a>
      </span>
    </li>
    <!-- DIRECT MESSAGE -->
    <li class="nav-item">
      <span>
        <a class="nav-link form-title flex" routerLink="/direct-message" routerLinkActive="active">
          <div class="subtitle">Direct Message</div>
        </a>
      </span>
    </li>
    <!-- COUNTDOWN TIMER -->
    <li class="nav-item">
      <span>
        <a class="nav-link form-title flex" routerLink="/countdown-timer" routerLinkActive="active">
          <div class="subtitle">Countdown Timer</div>
        </a>
      </span>
    </li>
    <!-- SWITCH -->
    <li class="nav-item">
      <span>
        <a class="nav-link form-title flex" routerLink="/switch" routerLinkActive="active">
          <div class="subtitle">Switch</div>
        </a>
      </span>
    </li>   
    <!-- PRICING -->
    <li class="nav-item">
      <span>
        <a class="nav-link form-title flex" routerLink="/pricing" routerLinkActive="active">
          <div class="subtitle">Pricing</div>
        </a>
      </span>
    </li>
    <!-- DROPDOWN -->
    <li class="nav-item">
      <span>
        <a class="nav-link form-title flex" routerLink="/dropdown" routerLinkActive="active">
          <div class="subtitle">Dropdown</div>
        </a>
      </span>
    </li>
    <!-- MISC -->
    <li class="nav-item">
      <span>
        <a class="nav-link form-title flex">
          <div class="subtitle superbold-font"></div>
        </a>
      </span>
    </li>    
    <li class="nav-item">
      <span>
        <a class="nav-link form-title flex">
          <div class="main-subtitle superbold-font">Miscellenous</div>
        </a>
      </span>
    </li>
    <!-- Kufi-->
    <li class="nav-item">
      <span>
        <a class="nav-link form-title flex" routerLink="/kufi" routerLinkActive="active">
          <div class="subtitle">Kufi</div>
        </a>
      </span>
    </li>
    <!-- Megaman -->
    <li class="nav-item">
      <span>
        <a class="nav-link form-title flex" routerLink="/megaman" routerLinkActive="active">
          <div class="subtitle">Megaman</div>
        </a>
      </span>
    </li>
    <!-- Mario -->
    <li class="nav-item">
      <span>
        <a class="nav-link form-title flex" routerLink="/mario" routerLinkActive="active">
          <div class="subtitle">Mario</div>
        </a>
      </span>
    </li>
    <!-- Petronas -->
    <!-- <li class="nav-item">
      <span>
        <a class="nav-link form-title flex" routerLink="/petronas" routerLinkActive="active">
          <div class="subtitle">Petronas</div>
        </a>
      </span>
    </li> -->
    <!-- Jeep -->
    <li class="nav-item">
      <span>
        <a class="nav-link form-title flex" routerLink="/jeep" routerLinkActive="active">
          <div class="subtitle">Jeep</div>
        </a>
      </span>
    </li>
    <!-- Instagram -->
    <li class="nav-item">
      <span>
        <a class="nav-link form-title flex" routerLink="/instagram" routerLinkActive="active">
          <div class="subtitle">Instagram</div>
        </a>
      </span>
    </li>
    <!-- Jsplay -->
    <li class="nav-item">
      <span>
        <a class="nav-link form-title flex" routerLink="/jsplay" routerLinkActive="active">
          <div class="subtitle">Javascript Playground</div>
        </a>
      </span>
    </li>    
  </ul>
  <div class="divider"></div>
</nav>

