/* Paragraph */
p {
    margin-bottom: 0rem;
}

/* Fontawesome color  */
.fa-map-marker {
    color: crimson;
}


/* Custom Card */
.card-custom {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #fff;
    color: #333333;
}

.card {
    border: none;
    height: 650px;
}

.card-body {
    width: 390px;
    padding: 0rem;
}

/* Default Picture and Intro */
.user-dp-container, .intro {
    margin-bottom: 40px;
}

/* Default Picture */
.user-dp-container {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.user-dp {
    position: absolute;
    top: 50px;
    height: 170px;
    width: 170px;
    border-radius: 85px;
    background-color: darkgrey;
}

.user-dp-container{
    background-color: #333333;
    height: 150px;
    width: 100%;
}

.intro {
    margin-top: 100px;
}

/* User Description */
.about-me {
    margin: 0px 35px 100px 35px;
}

.about-me-desc {
    text-align: justify;
    text-justify: inter-word;
}

/* Page Navigation */
.form-check-inline {
    margin-right: 0rem;
}

.navigator-container {
    height: 50px;
}

/* User Stats */
.stats {
    padding: 30px;
}

.stats-title {
    margin-bottom: 30px;
}

.stat {
    margin-bottom: 15px;
}

.progress {
    border-radius: 8rem;
}

.progress-bar {
    background-color: #499069;
}

/* Page Navigation */
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: gray;
    cursor: pointer;
}

.carousel-indicators .active {
    background-color: #080A0D;
}

/* Refactor */
.about-me-title, .stats-title {
    font-size: 1.1rem;
}

.fa-ellipsis-h {
    font-size: 30px;
    color: #fff;
}
