/* Paragraph */
p {
    margin-bottom: 0rem;
}

/* Fontawesome color  */
i {
    color: crimson;
}


/* Custom Card */
.card-custom {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #fff;
    color: #333333;
}

.card {
    border: none;
}

.card-body {
    width: 390px;
    padding: 0rem;
}

/* Default Picture and Intro */
.user-dp-container, .intro {
    margin-bottom: 40px;
}

/* Default Picture */
.user-dp-container {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.user-dp {
    position: absolute;
    top: 50px;
    height: 170px;
    width: 170px;
    border-radius: 85px;
    background-color: darkgrey;
}

.user-dp-container{
    background-color: #333333;
    height: 150px;
    width: 100%;
}

.intro {
    margin-top: 100px;
}

/* User Description */
.about-me {
    margin: 0px 35px 50px 35px;
}

.about-me-desc {
    text-align: justify;
    text-justify: inter-word;
}

/* Page Navigation */
.form-check-inline {
    margin-right: 0rem;
}

.navigator-container {
    height: 50px;
}

.bio {
    z-index: 20;
}

/* User Stats */
.stats {
    position: absolute;
    padding: 30px;
    border: 1px solid #499069;
    background-color: #fff;
    width: 100%;
    top: 3px;
    height: 647.227px;
    border-radius: 10px;
    z-index: -10;
}

.stats-title {
    margin-bottom: 30px;
}

.stat {
    margin-bottom: 15px;
}

.progress {
    border-radius: 8rem;
}

.progress-bar {
    background-color: #499069;
}